### Dealing with the Database

In [1]:
# creation of Database
import sqlite3    # importing the required module

In [2]:
# use the database if it pre-exists or create a new one
connection = sqlite3.connect("myemp.db")

In [ ]:
# SQlite Manager Online URL: https://extendsclass.com/sqlite-browser.html

In [3]:
# create employee table as employee(emp_id, emp_name, emp_city, emp_salary)
sqlStr = '''
         CREATE TABLE employee (
         emp_id INTEGER PRIMARY KEY,
         emp_name TEXT,
         emp_city TEXT,
         emp_salary REAL);
         '''
try:   # create the table if it does not pre-exist
    connection.execute(sqlStr)
    print ("Database table has been created successfully...")
except:
    print ("Error !!! Database table could not be created successfully...")

Database table has been created successfully...

In [12]:
# inserting records into the database table after reading data from the CSV file
import csv
sqlStr = "INSERT INTO employee VALUES ('{emp_id_ph}', '{emp_name_ph}', '{emp_city_ph}', '{emp_salary_ph}');"

# read lines from the csv file and store them into the database table
with open('emp_data.csv') as data_file:
    csv_reader = csv.reader(data_file)
    # print (len(list(csv_reader)))
    print (list(csv_reader))
# csv_reader = csv.reader(data_file)

[['1001', 'Dhiman', 'Kolkata', '39000'], ['1002', 'Anupam', 'Kolkata', '25000'], ['1003', 'Subham', 'Mumbai', '36000'], ['1004', 'Dinesh', 'Chennai', '28000'], ['1005', 'Kakali', 'Mumbai', '25000'], ['1006', 'Bimal', 'Hyderabad', '30000'], ['1007', 'Tarun', 'Chennai', '17000'], ['1008', 'Rittik', 'Durgapur', '45000'], ['1009', 'Barun', 'Hyderabad', '39000'], ['1010', 'Utpal', 'Lucknow', '20000']]

In [14]:
# inserting records into the database table after reading data from the CSV file
import csv
sqlStr = "INSERT INTO employee VALUES ('{emp_id_ph}', '{emp_name_ph}', '{emp_city_ph}', '{emp_salary_ph}');"

# read lines from the csv file and store them into the database table
with open('emp_data.csv') as data_file:
    csv_reader = csv.reader(data_file)
    for row in csv_reader:
        print (row)
        connection.execute(sqlStr.format(emp_id_ph = row[0], emp_name_ph = row[1], emp_city_ph = row[2], emp_salary_ph = row[3]))
        
connection.commit()   # making the change or records enrty to the table permanent
print ("All record entries have been completed successfully...")

['1001', 'Dhiman', 'Kolkata', '39000']
['1002', 'Anupam', 'Kolkata', '25000']
['1003', 'Subham', 'Mumbai', '36000']
['1004', 'Dinesh', 'Chennai', '28000']
['1005', 'Kakali', 'Mumbai', '25000']
['1006', 'Bimal', 'Hyderabad', '30000']
['1007', 'Tarun', 'Chennai', '17000']
['1008', 'Rittik', 'Durgapur', '45000']
['1009', 'Barun', 'Hyderabad', '39000']
['1010', 'Utpal', 'Lucknow', '20000']
All record entries have been completed successfully...

In [15]:
# displaying all the records available in the database table
# SQL for fetching all records from the table
sqlStr = "SELECT * FROM employee;"
# read from table and point the cursor into the variable cur_table
cur_table = connection.execute(sqlStr)
print (list(cur_table))

[(1001, 'Dhiman', 'Kolkata', 39000.0), (1002, 'Anupam', 'Kolkata', 25000.0), (1003, 'Subham', 'Mumbai', 36000.0), (1004, 'Dinesh', 'Chennai', 28000.0), (1005, 'Kakali', 'Mumbai', 25000.0), (1006, 'Bimal', 'Hyderabad', 30000.0), (1007, 'Tarun', 'Chennai', 17000.0), (1008, 'Rittik', 'Durgapur', 45000.0), (1009, 'Barun', 'Hyderabad', 39000.0), (1010, 'Utpal', 'Lucknow', 20000.0)]

In [16]:
# displaying all the records available in the database table
# SQL for fetching all records from the table
sqlStr = "SELECT * FROM employee;"
# read from table and point the cursor into the variable cur_table
cur_table = connection.execute(sqlStr)
# print (list(cur_table))
for row in cur_table:
    print (f"Emp-ID: {row[0]}, Emp-Name: {row[1]}, Emp-City: {row[2]}, Emp-Salary: {row[3]}")

Emp-ID: 1001, Emp-Name: Dhiman, Emp-City: Kolkata, Emp-Salary: 39000.0
Emp-ID: 1002, Emp-Name: Anupam, Emp-City: Kolkata, Emp-Salary: 25000.0
Emp-ID: 1003, Emp-Name: Subham, Emp-City: Mumbai, Emp-Salary: 36000.0
Emp-ID: 1004, Emp-Name: Dinesh, Emp-City: Chennai, Emp-Salary: 28000.0
Emp-ID: 1005, Emp-Name: Kakali, Emp-City: Mumbai, Emp-Salary: 25000.0
Emp-ID: 1006, Emp-Name: Bimal, Emp-City: Hyderabad, Emp-Salary: 30000.0
Emp-ID: 1007, Emp-Name: Tarun, Emp-City: Chennai, Emp-Salary: 17000.0
Emp-ID: 1008, Emp-Name: Rittik, Emp-City: Durgapur, Emp-Salary: 45000.0
Emp-ID: 1009, Emp-Name: Barun, Emp-City: Hyderabad, Emp-Salary: 39000.0
Emp-ID: 1010, Emp-Name: Utpal, Emp-City: Lucknow, Emp-Salary: 20000.0